.embla {
  position: relative;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  min-width: 0;
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transform: scale(0.9) translateX(0);
  opacity: 0.5;
}

.embla__slide--active {
  transform: scale(1) translateX(0);
  opacity: 1;
}

.embla__slide--prev {
  transform: scale(0.9) translateX(-100%);
  opacity: 0.5;
}

.embla__slide--next {
  transform: scale(0.9) translateX(100%);
  opacity: 0.5;
}

.embla__slide > * {
  transition: opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1), transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}